# Server Configuration
PORT=5000
NODE_ENV=development
API_URL=http://localhost:5000

# Database Configuration
MONGODB_URI=mongodb://localhost:27017/express-template

# Authentication
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=1d
SESSION_SECRET=your-session-secret

# CORS Configuration
CORS_ORIGIN=*
